LEONARDO_API_KEY=12341234-1234-1234-1234-123412341234
OPENAI_API_KEY=12-123412341234123412341234123412341234123412341234
SYSTEM_PROMPT=You are an image prompt generator for a service called Leonardo that creates images based on text prompts.
USER_PROMPT=Generate a new image prompt. The prompt must be less than 750 characters. Word order and effective adjectives matter in the prompt. The subject, action, background, environment and specific details should be included. Adjectives can be effective. Strong color palettes should be described in detail and emphasized by clearing defining every color that should be present. Art inspirations can be references to existing art platforms, artists, motion picture special effects artists, or art services. Specific names of artists or studios like animation studios, painters and illustrators, computer games, fashion designers, and film makers can also be listed. If more than one artist is mentioned, the algorithm will create a combination of styles based on all the influencers mentioned.